* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.accordion {
  margin-left: 20%;
  margin-right: 20%; }
  .accordion .accordion-item {
    justify-content: center;
    background-color: #f0d2ff; }
    .accordion .accordion-item .accordion-button {
      position: unset;
      flex-direction: column;
      background-color: #d6b1ff;
      z-index: 50; }
    .accordion .accordion-item .accordion-button:focus {
      box-shadow: none; }
    .accordion .accordion-item .accordion-button:not(.collapsed) {
      color: black;
      background-color: #bf8ff5; }
    .accordion .accordion-item .accordion-button:not(.collapsed)::after {
      background-image: none; }

.navbar-expand-lg .navbar-nav .nav-link {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  padding-top: 17px;
  padding-right: 15px;
  padding-left: 15px;
  font-family: "Manrope", sans-serif;
  color: #8c30f5;
  font-weight: bold;
  text-align: center; }
  .navbar-expand-lg .navbar-nav .nav-link .container-fluid {
    display: flex; }
    .navbar-expand-lg .navbar-nav .nav-link .container-fluid .navbar-collapse {
      flex-grow: 0; }
      .navbar-expand-lg .navbar-nav .nav-link .container-fluid .navbar-collapse .nav-item {
        list-style: none;
        text-align: center;
        display: inline-flex; }

.ejemplo button {
  background-color: #8c30f5;
  border: 1.5px solid transparent;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 5px;
  color: white;
  border-radius: 10px;
  transition: all 0.5s; }

.ejemplo :hover {
  border-color: #2d1f31;
  color: black; }

.header-FAQ {
  background-color: #f7e4ff; }

.main-productos {
  background-color: #f7e4ff; }
  .main-productos .seccion-dibujo {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto; }
    .main-productos .seccion-dibujo .dibujo {
      grid-column: 1;
      grid-row: 1;
      background-color: #ffb1e6;
      height: auto;
      border: 1px solid chocolate;
      margin: 10px;
      padding: 10px;
      border-radius: 1%;
      backdrop-filter: blur 10px;
      display: flex;
      flex-direction: column; }
    .main-productos .seccion-dibujo .dibujo-1 {
      grid-column: 2;
      grid-row: 2;
      background-color: #ff72d2;
      height: auto;
      border: 1px solid chocolate;
      margin: 10px;
      padding: 10px;
      border-radius: 1%;
      backdrop-filter: blur 10px;
      display: flex;
      flex-direction: column; }
    .main-productos .seccion-dibujo .dibujo-2 {
      grid-column: 1;
      grid-row: 3;
      background-color: #f22bb2;
      height: auto;
      border: 1px solid chocolate;
      margin: 10px;
      padding: 10px;
      border-radius: 1%;
      backdrop-filter: blur 10px;
      display: flex;
      flex-direction: column; }
    .main-productos .seccion-dibujo .dibujo-3 {
      grid-column: 2;
      grid-row: 4;
      background-color: #a7267e;
      height: auto;
      border: 1px solid chocolate;
      margin: 10px;
      padding: 10px;
      border-radius: 1%;
      backdrop-filter: blur 10px;
      display: flex;
      flex-direction: column; }

main {
  background-color: #d6b1ff;
  text-align: center;
  font-family: "Manrope", sans-serif;
  padding-bottom: 20px;
  min-height: 80vh; }
  main .title-sec {
    background-image: url("../assets/fondo-nuevo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 174px;
    display: flex;
    flex-direction: none;
    justify-content: flex-end;
    align-items: center; }
    main .title-sec h1 {
      font-family: "Pacifico", cursive;
      font-size: 2.5em;
      margin: 0px 20px;
      color: #f7e4ff;
      transition: all 1s; }
    main .title-sec :hover {
      color: chocolate;
      -webkit-text-stroke: 0.5px black; }
  main .funcion {
    display: flex;
    flex-direction: column;
    justify-content: none;
    justify-items: none;
    list-style: none;
    text-align: center;
    text-decoration: none; }
    main .funcion h2 {
      padding: 20px;
      align-items: center;
      color: #f6f4f7; }
    main .funcion .container {
      display: flex; }
      main .funcion .container .text-fun-1 {
        border-right: 1px solid #efc7f7;
        padding-right: 10px; }
      main .funcion .container .text-fun-2 {
        border-right: 1px solid #efc7f7;
        padding: 0px 10px; }
      main .funcion .container .text-fun-3 {
        padding-left: 10px; }
  main .producto {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none; }
    main .producto h2 {
      margin-top: 20px;
      text-align: center;
      color: white; }
    main .producto .ejemplo {
      display: flex;
      flex-direction: none;
      justify-content: center;
      align-items: none;
      margin: 20px;
      padding: 20px; }
      main .producto .ejemplo .ejemplo-dibujo {
        margin: 0px 20px; }
        main .producto .ejemplo .ejemplo-dibujo img {
          transition: all 0.5s; }
        main .producto .ejemplo .ejemplo-dibujo img:hover {
          transform: scale(1.1, 1.1); }

footer {
  background-color: #8c30f5;
  width: 100%;
  height: auto;
  color: #d6b1ff;
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; }
  footer .redes {
    display: flex;
    padding-bottom: 10px; }
    footer .redes img {
      padding-left: 20px;
      padding-right: 20px; }
  footer h3 {
    font-size: 1rem;
    text-align: center;
    padding: 10px; }
  footer .footer-lista {
    padding-left: 0;
    display: flex;
    list-style: none;
    text-align: center;
    border-top: 1px solid #d6b1ff;
    align-items: center; }
    footer .footer-lista li {
      display: flex;
      list-style: none;
      text-align: center;
      text-decoration: none; }
      footer .footer-lista li a {
        display: flex;
        text-decoration: none;
        padding-right: 20px;
        padding-left: 20px;
        color: white; }

@media (max-width: 768px) {
  .header-FAQ {
    display: block;
    top: 0;
    box-sizing: border-box;
    position: sticky; }
  .main-productos {
    background-color: #f7e4ff; }
    .main-productos .seccion-dibujo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

@media (max-width: 576px) {
  /* ----------INICIO---------- */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none; }
  .ejemplo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px; }
    .ejemplo .ejemplo-dibujo {
      padding-bottom: 50px; }
      .ejemplo .ejemplo-dibujo p {
        padding: 10px; }
  .main-productos {
    background-color: #f7e4ff; }
    .main-productos .seccion-dibujo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
  .footer-lista {
    display: flex;
    flex-direction: column;
    justify-content: none;
    justify-items: center;
    list-style: none;
    text-align: center;
    text-decoration: none; }
    .footer-lista li {
      display: flex;
      flex-direction: column;
      justify-content: none;
      justify-items: center;
      list-style: none;
      text-align: center;
      text-decoration: none; } }
