main{
    background-color: rgba(214, 177, 255, 1);
    text-align: center;
    padding-bottom: 20px;
    min-height: 80vh;
    .title-sec {
        background-image: url("../assets/fondo-nuevo.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-height: 174px;
        @include prop-flex (none, flex-end, center);
    }
    .funcion{
        @include prop-footer (column, none, none, none, center, none);
        h2{
            padding: 20px;
            align-items: center;
            color: rgb(246, 244, 247);
        }
        .container {
            @include grid-s(3,auto);
            .text-fun-1 {
                @include prop-text (1px solid rgb(239, 199, 247), 10px, none, none);
            }
            .text-fun-2 {
                @include prop-text (1px solid rgb(239, 199, 247), none, 0px 10px, none);
            }
            .text-fun-3 {
                @include prop-text (none, none, none, 10px);
            }
        }
    }
    .producto {
        @include prop-flex (column, none, none);
        h2 {
            margin-top: 20px;
            text-align: center;
            color: $primary-color;
        }
        .ejemplo {
            @include prop-flex (none, center, none);
            margin: 20px;
            padding: 20px;
            .ejemplo-dibujo {
                margin: 0px 20px;
                img {
                    transition: all 0.5s;
                }
                img:hover {
                    transform: scale(1.1, 1.1);
                }
            }
        }
    }
    p{
        font-size: 1.1em;
    }
}