main{
    background-color: rgba(214, 177, 255, 1);
    text-align: center;
    font-family: "Manrope", sans-serif;
    padding-bottom: 20px;
    min-height: 80vh;
    .title-sec {
        background-image: url("../assets/fondo-nuevo.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-height: 174px;
        @include prop-flex (none, flex-end, center);
        h1 {
            font-family: "Pacifico", cursive;
            font-size: 2.5em;
            margin: 0px 20px;
            color: rgb(247, 228, 255);
            transition: all 1s;
        }
        :hover {
            color: chocolate;
            -webkit-text-stroke: 0.5px black;
        }
    }
    .funcion{
        @include prop-footer (column, none, none, none, center, none);
        h2{
            padding: 20px;
            align-items: center;
            color: rgb(246, 244, 247);
        }
        .container {
            display: flex;
            .text-fun-1 {
                border-right: 1px solid rgb(239, 199, 247);
                padding-right: 10px;
            }
            .text-fun-2 {
                border-right: 1px solid rgb(239, 199, 247);
                padding: 0px 10px;
            }
            .text-fun-3 {
                padding-left: 10px;
            }
        }
    }
    .producto {
        @include prop-flex (column, none, none);
        h2 {
            margin-top: 20px;
            text-align: center;
            color: $primary-color;
        }
        .ejemplo {
            @include prop-flex (none, center, none);
            margin: 20px;
            padding: 20px;
            .ejemplo-dibujo {
                margin: 0px 20px;
                img {
                    transition: all 0.5s;
                }
                img:hover {
                    transform: scale(1.1, 1.1);
                }
            }
        }
    }
}