@media (max-width: 576px) {
    /* ----------INICIO---------- */
    main{
.funcion{
    .container {
    @include prop-flex (column, none, none);
    .text-fun-1 {
        @include prop-text (none, 10px, none, none);
    }
    .text-fun-2 {
        @include prop-text (none, none, 0px 10px, none);
    }
    .text-fun-3 {
        @include prop-text (none, none, none, 10px);
    }
    }
}
}
    .ejemplo {
    @include prop-flex (column, center, center);
    margin: 0px;
    padding: 0px;
    .ejemplo-dibujo {
        padding-bottom: 50px;
        p {
            padding: 10px;
        }
    }
    }
    .main-productos{
        background-color: $background-color;
    .seccion-dibujo {
        @include prop-flex (column, center, center);
        .icon{
            width: 70%;
            object-fit: cover;
        }
    }
    
}
.footer-lista{
    @include prop-footer (column, none, center, none, center,none);
    li {
        @include prop-footer (column, none, center, none, center, none);
    }
}
}